# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Django
db.sqlite3
media/

# Logs
*.log
*.pot
*.pyc

# Node
node_modules/
dist/

# Next.js
.next/
out/
tsconfig.tsbuildinfo

# Env files
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
